<div class="row">
  <div class="col card p-4 m-4 text-center">
    <strong class="text-primary">
      <h3><%= Figaro.env.application_name %></h3>
    </strong>
  </div>

  <div class="col card p-4 m-4 text-center">
    <%= link_to 'Admin', panel_v1_root_path, class: 'btn btn-primary m-2' %>
  </div>
</div>

